INSTALL
Makefile.in
ac_cfg.h.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
doc/Makefile.in
doc/mdate-sh
doc/texinfo.tex
install-sh
ltmain.sh
m4/
missing
windows/Makefile.in
ylwrap
